* {
    padding: 0;
    margin: 0;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,1);
    -webkit-box-shadow: inset 0 0 0 rgba(255,255,255,1);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255,1);

}

body{
	cursor: context-menu;
  font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
	}
.loader
{
	height: 100vh;
	width: 100%;
  position: fixed;
}
.logo
{
	width: 170px;
	height: 170px;
	margin-top: 20vh;
}
.showbox {
 
}

.loading {
  position: relative;
  margin: 0 auto;
  width: 50px;
}
.loading:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
.mask
{
	position:fixed;
	width: 100%;
	height: 100vh;
	background-color: black;
	z-index: 99;
}
.mask2
{
	position:fixed;
	width: 100%;
	height: 100vh;
	background-color: white;
	z-index: 99;
}
.main
{
	position: absolute;
	top: 0%;
	z-index: 999;
	width: 100%;
	background-color:white;
}
.mask3
{
	position:fixed;
	width: 100%;
	height: 100vh;
	background-color: black;
	z-index: 9999;
}
.mask4
{
	position:fixed;
	width: 100%;
	height: 100vh;
	background-color: white;
	z-index: 9999;
}

.navigation
{
  
  width: 100%;
  color: black;
  height: 50px;
  padding: 19.5px 15px 0px 15px;
  z-index: 99999;
}

/*effect-underline*/
.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 25px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mobile-navigation
{
  z-index: 11111;
  right: 29.5px;
  top: 19.5px;
  position: fixed;
}
.mobile-navigation-menu
{
  z-index: 9999;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 111111;
    top: 0;
    left: 0;
    
    background-color: rgba(0,0,0, 1);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.opacitys
{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
}
.btn--ghost {
  background-color: transparent;
  border: 1px solid #739600;
  color: #739600;
}


a.button{
  display:inline-block;
  
  font:normal normal 300 1.3em 'Open Sans';
  text-decoration:none; 
  
  color:black;
  background-color:transparent;
  border:1px solid rgba(0, 0,0, 1);
  border-radius:100px;
  
  padding: .3em 1.2em;
  margin:5px;
      
  background-size: 200% 100%; 
  background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
  
}
.hoverx:hover { 
    color: yellow;
}

.point
{
  border-left: 15px solid #CC3333;
  padding-left: 5px;
  padding-bottom: 5px;:  
}